* {
	padding: 0px;
	margin: 0px;
}

body {
	color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 3vw;
	margin-right: 3vw;
	display: block;

	background-image: url(/~4301358/wt3/public/banner.jpg);
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	background-color: #900000;
	color: #ffffff;
	text-align: center;
	display: inline-block !important;
	width: calc(100% - 1em);
	padding: 0.5em;
	border: 1px solid white;
	/*Dit mag eigenlijk niet, maar ik kan het randje niet meer aan zien nu ik zo veel tijd heb gestopt in het proberen van het wegalen ervan*/
	margin-bottom: -4px;
}

#logo {
	float: left;
}

#login {
	float: right;
}

#spacer {
	padding: 0.5em;
}

#content {
	border: 1px solid white;
	border: 1px solid white;
	border-top: none;
	width: calc(100% - 1em);
	background: rgba(34,34,34,0.75);
	padding: 0.5em;
}

a {
	text-decoration: none;
	color: #ffffff;
}